<nav class="navbar navbar-bg">
  <%= link_to "The Bar", cocktails_path, class: "navbar-logo" %>
  <%= link_to "Back To Homepage", cocktails_path, class: "navbar-btn" %>
</nav>

<div class="task-banner">
  <h1 class="m-3"> Lets First Name Your New Cocktail !</h1>
</div>
<div class="container text-center cocktail-form">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name, input_html: { class: 'm-3' } %>
    <%= f.input :photo, as: :file  %>
    <%= f.button :submit , class: 'navbar-btn' %>
  <% end %>
</div>
