<nav class="navbar navbar-light bg-light">
  <%= link_to "The Bar", cocktails_path, class: "navbar-brand" %>
  <%= link_to "Back To Homepage", cocktails_path, class: "btn btn-primary" %>
</nav>

<div class="text-center container p-3">
  <h1 class="m-3"> Lets First Name Your New Cocktail !</h1>
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name, input_html: { class: 'm-3' } %>
    <%= f.button :submit , class: 'btn btn-primary m-2' %>
  <% end %>
</div>
