<nav class="navbar navbar-light bg-light">
  <%= link_to "The Bar", cocktails_path, class: "navbar-brand" %>
  <%= link_to "Back To The Bar", cocktails_path, class: "btn btn-primary" %>
</nav>


<div class="jumbotron text-center">
  <h1 class="display-4">The <%= @cocktail.name %> </h1>
</div>


<div class="container text-center">
<ul class="text-center list-unstyled">
  <% @cocktail.doses.each do |dose| %>
    <li> <%= dose.description %> of <%= dose.ingredient.name %> <%= link_to "Delete",
                  dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class: "btn btn-secondary"%></li>
  <% end %>
</ul>
<div>
  <%= link_to "Add New Dose", new_cocktail_dose_path(@cocktail) , class: "btn btn-primary m-2" %>
</div>
<div>
  <%= link_to "Back To The Bar", cocktails_path, class: "btn btn-primary m-2" %>
</div>
</div>
