<nav class="navbar navbar-bg">
  <%= link_to "The Bar", cocktails_path, class: "navbar-logo" %>
  <%= link_to "Back To Drink", cocktail_path(@cocktail), class: "navbar-btn" %>
</nav>


<div class="task-banner">
  <div class="container">
    <h1 class="m-3"> Lets Make A Dose</h1>
    <p>Describe How Much You Want To Add And Pick An Ingredient</p>
  </div>
</div>

  <div class=" container p-3 m-5 cocktail-form">
    <%= simple_form_for [ @cocktail, @dose ], html: { class: 'm-3' } do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.button :submit, class: "navbar-btn" %>
    <% end %>
  </div>

